.wcs{
    background-color: #f9fbfe;

}
.wcs-heading{
    font-size: 28px;
    font-weight: 700;
    color: #183b56;

}
.wcs-paragraph{
    color: #5a7184;
    font-size: 16px;
}
.wcs-card{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}
.wcs-image{
    height: 90ox;
    width: 87px;
}
.wcs-card-title{
    color: #323f4b;
    font-size: 22px;
    font-weight: 500px;
}
.wcs-card-dis{
    color: #7b8794;
    font-size: 16px;
}