.healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img{
    width: 280px;
  }
  .heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
  }
  .icon-twitter{
    font-size: 35px;
    color: #d0b200;
  }
  .follow-us-icon-container {
    background-color: #faf7e8;;
    width: 100px;
    height: 100px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
    border-radius: 50px;
  }